"*":
  "atom-beautify":
    _analyticsUserId: "0252158c-9432-4627-b72c-fe2cd77d08d4"
  "atom-toolbar":
    visible: false
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  autosave: {}
  break: {}
  core:
    disabledPackages: [
      "linter-jsxhint"
      "nuclide-flow"
      "nuclide-hack"
      "nuclide-installer"
      "nuclide-click-to-symbol"
      "jquery-snippets"
      "language-gfm"
      "standard-formatter"
      "linter-js-standard"
      "atom-toolbar"
      "break"
      "markdown-writer"
    ]
    projectHome: "/Users/boris/Sites"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  "css-comb":
    config: "custom"
  "document-outline":
    maxHeadingDepth: 3
  "duotone-dark-syntax":
    color:
      uno: "#6d839f"
  editor:
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d873afba-9978-f1e8-8be8-d03d4eb3fc34"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  fonts:
    fontFamily: "Hack"
  "grunt-runner": {}
  "keyboard-localization":
    useKeyboardLayout: "fr_FR-bepo"
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    subtleLinterErrors: [
      "rubocop"
    ]
  "linter-eslint":
    fixOnSave: true
    useGlobalEslint: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: true
  "linter-reek":
    executablePath: "/Users/boris/.rbenv/shims/reek"
  "linter-rubocop":
    command: "/Users/bluesquare/.rbenv/versions/2.3.1/bin/rubocop"
  "linter-spell": {}
  "linter-ui-default": {}
  "markdown-preview-enhanced":
    enableTypographer: true
    enableWikiLinkSyntax: false
    enableZenMode: true
    exportPDFPageFormat: "A4"
    frontMatterRenderingOption: "none"
    imageFolderPath: "media"
    openPreviewPaneAutomatically: false
    pdfUseGithub: false
    previewTheme: "atom-light-syntax"
    showBackToTopButton: false
  "markdown-writer":
    relativeImagePath: true
    renameImageOnCopy: true
  nuclide:
    remoteProjectsConfig: []
  "oblique-strategies":
    showAfterInactivitySeconds: 60
  "one-dark-ui":
    layoutMode: "Spacious"
  "one-light-ui": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  rspec:
    command: "foreman run rspec"
  "rubocop-auto-correct":
    rubocopCommandPath: "/Users/boris/.rbenv/versions/2.3.1/bin/rubocop"
  "seti-syntax":
    themeColor: "Purple"
  "seti-ui":
    compactView: true
    disableAnimations: true
    themeColor: "Purple"
  "spell-check":
    locales: [
      "en—US"
      "fr"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tasks: {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
".md.text":
  editor:
    softWrap: true
