# Your primary storage path for raw photo archives
# macOS example: /Volumes/Shootings
# Linux example: /mnt/darkmatter/CameraRoll Raws
RAW_ARCHIVE_PATH=

# Optional: Default path to your camera SD card mount
# If unset, the script will automatically scan /run/media, /media, and /Volumes
CAMERA_MOUNT_PATH=

# Required for publish command
WATERMARK_PATH=
IMMICH_SERVER=
IMMICH_API_KEY=
