"*":
  "atom-toolbar":
    visible: false
  core:
    disabledPackages: [
      "linter-js-standard"
      "standard-formatter"
      "break"
      "markdown-preview-enhanced"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "document-outline":
    maxHeadingDepth: 3
    showByDefault: true
  editor: {}
  "exception-reporting":
    userId: "e7dbc301-342f-4930-bbee-23bb216cb84f"
  "linter-eslint":
    fixOnSave: true
    useGlobalEslint: true
  "linter-ui-default": {}
  "markdown-preview-plus":
    pandocRemoveReferences: false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
".md.text":
  editor:
    softWrap: true
