"*":
  "atom-beautify":
    _analyticsUserId: "0252158c-9432-4627-b72c-fe2cd77d08d4"
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "linter-jsxhint"
      "nuclide-flow"
      "nuclide-hack"
      "nuclide-installer"
      "nuclide-click-to-symbol"
      "atom-css-comb"
      "atom-erb"
      "atom-handlebars"
      "autocomplete-ruby"
      "color-picker"
      "language-docker"
      "language-gherkin"
      "language-nginx"
      "autocomplete-plus"
      "change-case"
      "file-icons"
      "git-control"
      "javascript-standard-snippets"
      "js-patterns-atom-snippets"
      "linter-handlebars"
      "linter-ruby"
      "rails-i18n"
      "rspec"
      "rspec3-snippets"
      "ruby-block"
      "standard-formatter"
      "tasks"
      "terminal-plus"
      "turbo-javascript"
      "linter-reek"
    ]
    projectHome: "/Users/boris/Sites"
    telemetryConsent: "no"
    themes: [
      "spacegray-dark-ui"
      "spacegray-dark-syntax"
    ]
  "css-comb":
    config: "custom"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "d873afba-9978-f1e8-8be8-d03d4eb3fc34"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "format-standard":
    formatOnSave: true
  "grunt-runner": {}
  linter:
    errorPanelHeight: 26
    ignoredLinterErrors: [
      "jshint"
    ]
    subtleLinterErrors: [
      "rubocop"
    ]
  "linter-js-standard":
    showEslintRules: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: true
  "linter-reek":
    executablePath: "/home/boris/.rbenv/shims/reek"
  "linter-rubocop":
    command: "/home/boris/.rbenv/shims/rubocop"
    rubocopExecutablePath: "/home/boris/.rbenv/shims/rubocop"
  "markdown-writer": {}
  nuclide:
    remoteProjectsConfig: []
  "oblique-strategies":
    showAfterInactivitySeconds: 60
  react:
    enabledForAllJavascriptFiles: true
  rspec:
    command: "foreman run rspec"
  "rubocop-auto-correct":
    rubocopCommandPath: "/home/boris/.rbenv/shims/rubocop"
  "standard-formatter":
    formatOnSave: true
  tasks: {}
  "tool-bar":
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
